<div class="jumbotron text-center"> 
	<h1>BearHacks</h1>
	<div class="row">
		<div class="col-md-5 portfolio-item">
			<div class="container">
				<img class="img-responsive" src="images/eecsday_small.jpg">
			</div>
		</div>
		<div class="col-md-7 portfolio-item">
			<div class="container pull-left">
				<h3>Description:</h3> 
				<p>BearHacks, hosted by Berkeley’s chapters of Eta Kappa Nu and Upsilon Pi Epsilon, was an educational hackathon geared towards high school students, especially those with little to no coding experience. In a 6-hour period, students had the opportunity to work on a small-scale project of their own choosing with teammates or by themselves, and current Berkeley Computer Science undergraduates were there to offer individualized guidance. </p>
			</div>
		</div>
	</div>
	<div class="row">
		<h3>Schedule: </h3>
		<p>10:00 a.m. - 10:30- a.m. Check In</p>
		<p>10:30 a.m. - 11:00 a.m. Speaker</p>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/denero.jpg">
			</div>
		</div>
		<div class="row">
			<h5> Opening Speaker was John Denero, a professor in UC Berkeley's Computer Science Department. </h5>
		</div>
		<p>12:30 p.m. - Lunch</p>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/lunch-bearhacks.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/lunch-bearhacks2.jpg">
			</div>
		</div>
		<p>11:00 a.m. - 3:30 p.m. Hack! (Mentoring photos)</p>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/student.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/stud2.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/stud3.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/help1.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/mentor1.jpg">
			</div>
		</div>
		<div class="row">
			<h5>High schoolers get help from HKN members on their various project. With the help of HKN members, students are able to do projects that are outside of the scope of what they would usually feel that they are capable of.</h5>
		</div>
		<p>3:00 p.m. - 3:30 p.m. Judging</p>
		<p>3:30 p.m. - 3:50 p.m. Walk Around</p>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/stud4.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" src="images/walkaround.jpg">
			</div>
		</div>
		<h5>High School students demo their projects to others and they get the opportunity to see what others have been working on.</h5>
		<p>3:50 p.m. - 4:00 p.m. Prizes and Closing Speech</p>
		<p>3:30 p.m. - 4:00 p.m. Closing Panel</p>
	</div>
</div>
