<div class="jumbotron text-center"> 
	<h1>Home Page</h1>
	<p>{{ home.message }}</p> 
	<div class="container">
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/eecsday">
                    <img class="img-responsive" src="images/eecsday_small.jpg">
                </a>
                <h3>
                    <a href="/eecsday">EECS Day</a>
                </h3>
                <p>Local high school students got a glimpse into the facilities of UC Berkeley EECS and see the kind of work incoming students do in their classes. Specifically the event featured a tour of the department (including facilities, labs, and halls), a computer science lab, and an EE lab.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/bearhacks">
                    <img class="img-responsive" src="images/bearhacks_small.jpg">
                </a>
                <h3>
                    <a href="/bearhacks">BearHacks</a>
                </h3>
                <p>An educational hackathon geared towards high school students, especially those with little to no coding experience. For 6 hours, students had the opportunity to work on a project of their own with teammates, and current Berkeley CS undergraduates will be there to offer guidance.</p>
            </div>
        </div>
    </div>
</div>